<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vokasi.mecanic"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mecanic">
        <activity android:name=".activity.EditProfileMontir"></activity>
        <activity android:name=".activity.HomescreenMontir" />
        <activity android:name=".activity.FilteredMontir" />
        <activity android:name=".activity.DetailedMontirInfo" />
        <activity android:name=".activity.EmailVerification" />
        <activity android:name=".activity.EditProfile" />
        <activity android:name=".activity.SearchingPage" />
        <activity android:name=".activity.Homescreen" />
        <activity android:name=".activity.RegistMontirNext" />
        <activity android:name=".activity.RegistMontir" />
        <activity android:name=".activity.RegistCustomer" />
        <activity android:name=".activity.RolePage" />
        <activity android:name=".activity.LoginPage" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>